node_modules/**
**/.DS_Store
package-lock.json
**/node_modules
chaincode/build/
.idea
*.iml
upload/
lint.txt
public/js/test
test/data
ops/
docker-compose-peer.yaml
config.json
lint.txt
chaincode/
logs
/tmp
crypto-config/peerOrganizations/*
prod-backups
mgo-backups
scripts/
dev