node_modules/**
dif_client.zip
**/.DS_Store
package-lock.json
**/node_modules
chaincode/build/
.idea
*.iml
upload/
lint.txt
public/js/test
test/data
ops/
docker-compose-peer.yaml
config.json
lint.txt
chaincode/
logs
/tmp
crypto-config/peerOrganizations/*
prod-backups
mgo-backups
dev
config.json
discover-test.js
blacklist-service-test.js
*-test.js
swarm.key
dif-client-v*
msp_id.conf
