<div>
    <header class="header">
        <h1 class="hlogo"></h1>
        <div class="header-title">
            <h2>DIF</h2>
            <p>Distributed Invalid Traffic Filter</p>
        </div>
        <div class="header-info">
            <button ng-click="logout()" type="button" class="link-default">退出登录</button>
        </div>
    </header>
    <section class="main">
        <alert-msg alert-messages="alertMessages"></alert-msg>
        <h2 class="history-head">
            <strong>历史提交记录</strong>
            <a ng-click="openUploadDlg()" class="link-normal"><i class="icon-upload"></i> 上传</a>
            <a ng-click="openDownloadDlg()" class="link-default"><i class="icon-git-merge"></i> 合并版本</a>
        </h2>
        <section class="mainarea">
            <div class="htitle">
                <div class="htime">
                    <p>日期范围</p>
                    <div class="calendar-box">
                        <input ng-model="dateRange" type="text" placeholder="日期范围" id="date">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
                <span class="hlink">
					<a ng-click="queryHistories()" class="link-default"> 查询</a>
					<a ng-click="clearDate()" class="link-normal"><i class="icon-trash"></i> 清空</a>
				</span>
            </div>
            <nav class="history-tab">
                <ul>
                    <li ng-click="selectTab('blacklistTab')" ng-class="{on:blacklistTab.show}">黑名单</li>
                    <li ng-click="selectTab('removelistTab')" ng-class="{on:removelistTab.show}">移除列表</li>
                </ul>
            </nav>
            <!--黑名单表-->
            <div ng-show="blacklistTab.show" class="text-center">
                <div class="empty-container" ng-show="blacklistTab.histories.length==0">
                    <div class="empty-content animated rotateIn">
                        <span class="iconfont  empty-icon">&#xe60b;</span><br>
                        <div class="empty-label">暂无数据</div>
                    </div>
                </div>
                <table ng-show="blacklistTab.histories.length!=0" class="table tc">
                    <thead>
                    <tr>
                        <th>成员名</th>
                        <th>日期</th>
                        <th>类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="blacklistHist in blacklistTab.histories">
                        <td>{{blacklistHist.mspid}}</td>
                        <td>{{blacklistHist.date}}</td>
                        <td>{{blacklistHist.type}}</td>
                        <td><a href="/blacklist/download?dataType=delta&key={{blacklistHist.key}}">下载</a></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="tr">\
                    <common-pagination
                            total="blacklistTab.total"
                            page-size="pageSize"
                            current-page="blacklistTab.currentPage"></common-pagination>
                </nav>
            </div>

            <!--移除列表表-->
            <div ng-show="removelistTab.show">
                <div class="empty-container" ng-show="removelistTab.histories.length==0">
                    <div class="empty-content animated rotateIn">
                        <span class="iconfont  empty-icon">&#xe60b;</span><br>
                        <div class="empty-label">暂无数据</div>
                    </div>
                </div>
                <table ng-show="removelistTab.histories.length!=0" class="table tc">
                    <thead>
                    <tr>
                        <th>成员名</th>
                        <th>日期</th>
                        <th>类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="removelistHist in removelistTab.histories">
                        <td>{{removelistHist.mspid}}</td>
                        <td>{{removelistHist.date}}</td>
                        <td>{{removelistHist.type}}</td>
                        <td><a href="/blacklist/download?dataType=remove&key={{removelistHist.key}}">下载</a></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="tr">
                    <common-pagination
                            total="removelistTab.total"
                            page-size="pageSize"
                            current-page="removelistTab.currentPage"></common-pagination>
                </nav>
            </div>
        </section>
    </section>
    <footer class="footer">
        <p>Powered by Hyperledger Fabric</p>
        <p>© 2018-2028 RTBAsia</p>   
    </footer>
</div>