<div>
    <header class="header">
        <h1 class="hlogo"></h1>
        <div class="header-info">
            <button ng-click="logout()" type="button" class="link-default">RTBAsia</button>
        </div>
    </header>
    <section class="main">
        <alert-msg alert-messages="alertMessages"></alert-msg>

        <h2 class="history-head">
            <strong>历史提交记录</strong>
            <a ng-click="openUploadDlg()" class="link-normal"><i class="icon-upload"></i> 上传</a>
            <a ng-click="mergeBlacklist()" class="link-default"><i class="icon-git-merge"></i> 合并版本</a>
        </h2>
        <section class="mainarea">
            <div class="htitle">
                <div class="htime">
                    <p>日期范围</p>
                    <div class="calendar-box">
                        <input ng-model="dateRange" type="text" placeholder="日期范围" id="date">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
                <span class="hlink">
					<a ng-click="query()" class="link-default"> 查询</a>
					<a ng-click="clearDate()" class="link-normal"><i class="icon-trash"></i> 清空</a>
				</span>
            </div>
            <nav class="history-tab">
                <ul>
                    <li ng-click="selectTab('ip')" ng-class="{on:showip}">IP</li>
                    <li ng-click="selectTab('device')" ng-class="{on:showdevice}">设备</li>
                    <li ng-click="selectTab('default')" ng-class="{on:showdefault}">默认设备</li>
                </ul>
            </nav>
            <!--ip表-->
            <table ng-show="showip" class="table tc">
                <thead>
                <tr>
                    <th>成员名</th>
                    <th>日期</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ipHist in ipHistories">
                    <td>{{ipHist.mspid}}</td>
                    <td>{{ipHist.date}}</td>
                    <td>{{ipHist.type}}</td>
                    <td><a ng-href="/blacklist/downloadBlacklist?type=ip">下载</a></td>
                </tr>
                <tr>
                    <td>ip</td>
                </tr>
                </tbody>
            </table>

            <!--device表-->
            <table ng-show="showdevice" class="table tc">
                <thead>
                <tr>
                    <th>成员名</th>
                    <th>日期</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="deviceHist in deviceHistories">
                    <td>{{deviceHist.mspid}}</td>
                    <td>{{deviceHist.date}}</td>
                    <td>{{deviceHist.type}}</td>
                    <td><a ng-href="/blacklist/downloadBlacklist?type=device">下载</a></td>
                </tr>
                <tr>
                    <td>device</td>
                </tr>
                </tbody>
            </table>

            <!--default表-->
            <table ng-show="showdefault" class="table tc">
                <thead>
                <tr>
                    <th>成员名</th>
                    <th>日期</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="defaultHist in defaultHistories">
                    <td>{{defaultHist.mspid}}</td>
                    <td>{{defaultHist.date}}</td>
                    <td>{{defaultHist.type}}</td>
                    <td><a ng-href="/blacklist/downloadBlacklist?type=default">下载</a></td>
                </tr>
                <tr>
                    <td>default</td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>
    <footer class="footer fixed-bottom match-width">
        powred by hyperledger fabric
    </footer>
</div>