<div>
    <header class="header">
        <h1 class="hlogo"></h1>
        <div class="header-title">
            <h2>DIF</h2>
            <p>Distributed Invalid Traffic Filter</p>
        </div>
        <div class="header-info">
            <button ng-click="logout()" type="button" class="link-default">退出登录</button>
        </div>
    </header>
    <section class="main">
        <alert-msg alert-messages="alertMessages"></alert-msg>
        <h2 class="history-head">
            <strong>历史提交记录</strong>
            <a ng-click="openUploadDlg()" class="link-normal"><i class="icon-upload"></i> 上传</a>
            <a ng-click="openAppealDlg()" class="link-normal"><i class="iconfont">&#xe637;</i> 申诉</a>
            <a ng-click="openDownloadDlg()" class="link-default"><i class="icon-download"></i> 合并版本</a>
        </h2>
        <section class="mainarea tab-ctn-minh">
            <div class="htitle">
                <div class="htime">
                    <p>日期范围</p>
                    <div class="calendar-box">
                        <input ng-date-picker type="text" ng-model="dateRange" id="dateRange" dateType="date"
                               format="yyyy/MM/dd" range="true" placeholder="时间范围"/>
                        <i class="icon-calendar"></i>
                    </div>
                </div>

                <span class="hlink">
					<a ng-click="queryHistories()" class="link-default"> 查询</a>
					<a ng-click="clearDate()" class="link-normal"><i class="icon-trash"></i> 清空</a>
				</span>
            </div>
            <nav class="history-tab">
                <ul>
                    <li ng-click="selectTab('delta')" ng-class="{on:selectDataType=='delta'}">黑名单</li>
                    <li ng-click="selectTab('appeal')" ng-class="{on:selectDataType=='appeal'}">申诉</li>
                    <li ng-click="selectTab('publisherIP')" ng-class="{on:selectDataType=='publisherIP'}">媒体IP</li>
                </ul>
            </nav>
            <!--黑名单表-->
            <div class="text-center">
                <div class="empty-container" ng-show="showingTab.total==0">
                    <div class="empty-content animated rotateIn">
                        <span class="iconfont  empty-icon">&#xe60b;</span><br>
                        <div class="empty-label">暂无数据</div>
                    </div>
                </div>
                <table ng-show="showingTab.histories.length!=0" class="table tc">
                    <thead>
                    <tr>
                        <th>成员名</th>
                        <th>日期</th>
                        <th ng-if="showingTab.type!='publisherIP'">类型</th>
                        <th ng-if="showingTab.type=='publisherIP'">记录数</th>
                        <th>操作</th>
                        <th ng-if="showingTab.type=='appeal'">投票</th>
                        <th ng-if="showingTab.type=='appeal'">申诉理由</th>
                        <th ng-if="showingTab.type=='appeal'">共识状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hist in showingTab.histories">
                        <td>{{hist.mspid || hist.mspId}}</td>
                        <td>{{hist.date}}</td>
                        <td ng-if="showingTab.type!='publisherIP'">{{hist.type}}</td>
                        <td ng-if="showingTab.type=='publisherIP'">{{hist.lines}}</td>
                        <td>
                            <a ng-if="showingTab.type=='delta'"
                               href="/blacklist/download?path={{hist.ipfsInfo.path}}&name={{hist.ipfsInfo.name}}">下载</a>
                            <a ng-if="showingTab.type=='appeal'"
                               href="/blacklist/download?path={{hist.details.ipfsInfo.path}}&name={{hist.details.ipfsInfo.name}}">下载</a>
                            <a ng-if="showingTab.type=='publisherIP'"
                               href="/blacklist/downloadPublishIPs?mspId={{hist.mspId}}">下载</a>
                        </td>
                        <td class="position-relative" ng-if="showingTab.type=='appeal'">
                            <span ng-click="clickVoteHand(hist,'agree')"
                                  ng-mouseenter="mouseMoveAgainVote(hist,'agree','enter')"
                                  ng-mouseleave="mouseMoveAgainVote(hist,'agree','leave')"
                                  ng-class="{iconfont:true,'d-inline-block':true,'icon-vote':true,
                                  'color-green-agree':hist.selfVoted}">&#xe63b;</span>
                            <span class="color-green-agree" ng-show="hist.selfVoted">
                                {{hist.details.agree.length}}</span>
                            <ul ng-show="hist.showAgree" class="pop-votes">
                                <li ng-repeat="agreeOrg in hist.details.agree" ng-class="{'blue-light':$index%2==1}">{{agreeOrg}}</li>
                            </ul>
                            <span>/</span>
                            <span ng-click="clickVoteHand(hist,'disagree')"
                                  ng-mouseenter="mouseMoveAgainVote(hist,'disagree','enter')"
                                  ng-mouseleave="mouseMoveAgainVote(hist,'disagree','leave')"
                                  ng-class="{iconfont:true,'icon-vote':true,'color-red-disagree':hist.selfVoted}">&#xe604;</span>
                            <span class="color-red-disagree" ng-show="hist.selfVoted">{{hist.details.against.length}}</span>
                            <ul ng-show="hist.showDisagree" class="pop-votes align-right">
                                <li ng-repeat="disagreeOrg in hist.details.against" ng-class="{'blue-light':$index%2==1}">{{disagreeOrg}}</li>
                            </ul>
                        </td>
                        <td ng-if="showingTab.type=='appeal'">{{hist.details.summary}}</td>
                        <td ng-if="showingTab.type=='appeal'">
                            <span ng-class="{iconfont:true,scaler:true,
                            'color-green-agree':hist.details.status}">&#xe60d;</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav ng-if="showingTab.total!=0" aria-label="Page navigation" class="tr">
                    <common-pagination
                            total="showingTab.total"
                            page-size="showingTab.pageSize"
                            current-page="showingTab.currentPage"></common-pagination>
                </nav>
            </div>
        </section>
    </section>
    <footer class="footer">
        <p>Powered by Hyperledger Fabric</p>
        <p>© 2018-2028 RTBAsia</p>
    </footer>
</div>