<div class="login-page">
    <div style="position: fixed">
        <br><br><br>
        <alert-msg alert-messages="alertMessages"></alert-msg>
    </div>
    <h1 class="logo"></h1>
    <section class="login-box">
        <form name="loginForm">
            <div class="form-group">
                <input name="username" ng-model="username" type="text" placeholder="用户名">
                <p class="form-tip errow" ng-if="errors.username">请输入用户名</p>
            </div>
            <div class="form-group">
                <input name="passwd" ng-model="password" type="password" placeholder="密码">
                <p class="form-tip errow" ng-if="errors.password">请输入密码</p>
            </div>
            <div class="form-group">
                <button ng-click="login()" class="login-btn">登录</button>
            </div>
        </form>
    </section>
</div>

