
/***/
.bg-blue{
    background-color: #1792e5;
}

.bg-danger{
    background-color: rgba(255, 99, 38, 0.71);
}
.container-match-parent{
    width: 100%;
    height: 100%;
}

.match-height{
    height: 100%;
}

.match-width{
    width: 100%;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
}

.d-inline{
    display: inline !important;
}

.color-lightslategray{
    color: lightslategray;
}

.color-blue-raido{
    color: #3e96ec;
}

.input-file-container{
    position: relative;
    left: -9px;
}

.input-file{
    position: relative;
    top: 2px;
    left: -7px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #f5f2eb;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.input-filename{
    display: inline-block;
    width: 146px;
    padding: 0;
    line-height: 20px;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}


/*按钮悬停样式*/
button:hover,.link-default:hover,.link-normal:hover{
    cursor: pointer;
    border: 1px solid #b3d7ff;
    font-weight: bold;
}

/*空数据提示面板容器*/
.empty-container{
    position: relative;
    display:  inline-block;
    width: 99%;
    height: 355px;
    line-height:  355px;
    text-align:  center;
    /* margin:  auto; */
    /*border: 1px solid lightgray;*/
}

.empty-icon{
    font-size: 9rem;
    color: #d8b3b3;
}

.empty-content{
    position: absolute;
    left: 46%;
    top: 25%;
    line-height: 1;
    display: inline-block;
}

.empty-label{
    color: #735353d4;
    font-size: 1.1rem;
}

.hide-lowlever{
    display: none
}


/*
    【上传对话框】
*/
.upload-dlg-types{
    width: 200px !important;
}

.opt-common{
    padding: 4px 24px;
    margin: 0px -8px;
    border: 1px solid lightslategray;
    color: lightslategray;
}

.opt-active{
    border: 1px solid lightblue;
    color: #439cb9;
}


.alert-success {
    position: fixed;
    left: 43%;
    width: 220px;
    margin: 0 auto;
    padding: 6px 0px;
    border-radius: 0;
    background-color: #bdedbc;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #045702;
}

.alert-err {
    background-color: #ed896e;
    color: white;
}