/***/
.bg-blue {
    background-color: #1792e5;
}

.bg-danger {
    background-color: rgba(255, 99, 38, 0.71);
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 572px;
}


.container-match-parent {
    width: 100%;
    height: 100%;
}

.match-height {
    height: 100%;
}

.match-width {
    width: 100%;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.d-inline {
    display: inline !important;
}

.color-lightslategray {
    color: lightslategray;
}

.color-blue {
    color: #3e96ec;
}

.input-file {
    position: relative;
    top: 2px;
    left: -7px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #f5f2eb;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.input-filename {
    display: inline-block;
    width: 146px;
    padding: 0;
    line-height: 20px;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

/*按钮悬停样式*/
button:hover, .link-default:hover, .link-normal:hover {
    cursor: pointer;
    border: 1px solid #b3d7ff;
    font-weight: bold;
}

.btn-up-down-load {
    position: relative;
    top: -1px;
    width: 80px;
    height: 36px;
}

/*空数据提示面板容器*/
.empty-container {
    position: relative;
    display: inline-block;
    width: 99%;
    height: 355px;
    line-height: 355px;
    text-align: center;
    /* margin:  auto; */
    /*border: 1px solid lightgray;*/
}

.empty-icon {
    font-size: 9rem;
    color: #d8b3b3;
}

.empty-content {
    position: absolute;
    left: 46%;
    top: 25%;
    line-height: 1;
    display: inline-block;
}

.empty-label {
    color: #735353d4;
    font-size: 1.1rem;
}

.hide-lowlever {
    display: none
}

/*
    【上传对话框】
*/
.upload-dlg-types {
    width: 600px !important;
    position: relative;
    left: -12px;
}

.opt-common {
    padding: 4px 24px;
    margin: 0px -8px;
    border: 1px solid lightslategray;
    color: lightslategray;
}

.opt-active {
    border: 1px solid lightblue;
    color: #439cb9;
}

.alert-success {
    position: fixed;
    left: 36%;
    width: 300px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 6px 4px;
    border-radius: 0;
    background-color: #bdedbc;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #045702;
}

.alert-err {
    background-color: #ed896e;
    color: white;
}

.tab-ctn-minh {
    min-height: 645px;
}

.prog-ctn {
    position: relative;
    line-height: 0px;
}

.prog-bg {
    display: inline-block;
    background: whitesmoke;
    width: 120px;
    height: 10px;
}

.prog-front {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    height: 10px;
    background: #1792e5;
}

/*水平翻转*/
.flipx {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH();
}

/*垂直翻转*/
.flipy {
    display: inline-block;
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV();
}

/*顺时针旋转90度*/
.rotate90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*顺时针旋转180度*/
.rotate180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*顺时针旋转270度*/
.rotate270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.icon-vote {
    font-size: 19px;
    color: gray;
}

.icon-vote:hover {
    display: inline-block;
    transform: scale(1.5);
}

.scaler {
}

.scaler:hover {
    display: inline-block;
    transform: scale(1.5);
}

.color-green-agree {
    color: #6db76d
}

.color-red-disagree {
    color: #c12a0e;
}

.d-inline-block {
    display: inline-block;
}

.pop-votes {
    display: inline-block;
    position: absolute;
    top: 14px;
    width: 120px;
    background: #3695d6;
    color: white;
}

.align-right {
    /*right: -60px;*/
}

.position-relative {
    position: relative;
}

.blue-light {
    background: #3bb6ff;
}

.appeal-summary {
    width: 242px;
    height: 131px;
    background-color: white;
    padding: 12px;
    font-size: 14px;
    color: grey;
}

.appeal-summary-pop {
    background: #bbd8f7;
    position: absolute;
    padding: 16px;
    line-height: 22px;
    color: #403939;
    text-align: left;
    z-index: 100;
    border: 2px solid #94c1ea;
    box-shadow: 4px 4px 2px 1px #c2d4e4;
}

.grp-label {
    width: 80px !important;
}

.btn-down-crts {
    float: right;
    position: relative;
    left: -50px;
    top: 54px;
}

.down-ip {
    position: relative !important;
    top: 0 !important;
    left: -182px !important;
}

.down-merge-type {
    width: 50px;
}

.title-icon {
    font-size: 38px;
    color: #3c8dbc;
    font-weight: lighter;
    margin-right: 4px;
}

.title-label {
    color: #3c8dbc;
    font-size: 24px;
}

.table th {
    color: #0c63a3;
    background-color: #3e97eb61;
    font-size: 16px;
}

.table th:hover, .table td:hover {
    background: #eee;
}

.form > .row > .col {
    display: inline-block !important;
    width: 48%;
    padding: 4px 0px;
}

.download-dlg {
    font-size: 14px;
}

.download-dlg .tab-title {
    margin: 8px;
    padding: 6px;
    font-size: 17px;
}

.download-dlg .tab-title.active {
    border-bottom: 2px solid #1792e5;
    transition: all 0.5s;
}

.download-dlg .note {

}

.download-dlg .magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 23px;
    cursor: pointer;
    vertical-align: middle;
}

.download-dlg .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0;
}

.download-dlg .magic-checkbox + label:after {
    top: 2px;
    left: 6px;
    box-sizing: border-box;
    width: 5px;
    height: 9px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}

.download-dlg .note-grp {
    margin-bottom: 4px;
}

.download-dlg .note-grp .right {
    margin-left: 16px;
}

.download-dlg .note-grp .note-label {
    position: relative;
    top: -1px;
    left: 4px;
}

.download-dlg .all {
    float: left;
    position: relative;
    left: 9px;
    top: 11px;
}

.dark-blue {
    /*color: #4b78aa;*/
    background-color: #4b78aa;
}

.download-dlg {
    font-size: 15px;
}

.download-dlg .note-grp {
    margin: 3px 10px 15px 10px;
    font-size: 14px;
    font-weight: bold;
}

.download-dlg .tab-title  {
    margin: 10px;
    padding: 6px;
    font-size: 17px;
}

.download-dlg .note-grp .right {
    /* margin-left: 16px; */
    margin-top: 10px;
    display: block;
}

.dark-blue {
    /* color: #4b78aa; */
    background-color: #a01111;
    margin-right: 10px;
}

.modal span {
    margin: 10px;
}