<!--下载对话框-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 ng-show="isUpload">下载黑名单</h3>
            <h3 ng-show="!isUpload">下载移除列表</h3>
        </div>
        <form name="downloadForm" class="modal-body form">
            <ul class="plist">
                <li>
                    <span class="pname">类型</span>
                    <!--选择类型-->
                    <div class="pname upload-dlg-types">
                        <input id="type_ip" ng-model="downloadType" value="ip" type="radio" class="magic-radio"
                               ng-checked="true">
                        <label for="type_ip" ng-class="{'d-inline':true,'color-lightslategray':downloadType!='ip','color-blue-raido':downloadType=='ip'}">ip</label>

                        <input id="type_device" ng-model="downloadType" value="device" type="radio" class="magic-radio">
                        <label for="type_device" ng-class="{'d-inline':true,'color-lightslategray':downloadType!='device','color-blue-raido':downloadType=='device'}">设备</label>

                        <input id="type_default" ng-model="downloadType" value="default" type="radio" class="magic-radio">
                        <label for="type_default" ng-class="{'d-inline':true,'color-lightslategray':downloadType!='default','color-blue-raido':downloadType=='default'}">默认设备</label>
                    </div>
                </li>
            </ul>
        </form>
        <div class="modal-footer">
            <button ng-click="closeThisDialog()" type="button" class="btn-cancel">取消</button>
            <a ng-click="closeThisDialog()" href="/blacklist/download?dataType={{dataType}}&key={{selectKey}}" class="btn-remove">下载</a>
        </div>
    </div>
</div>
