<!--下载对话框-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3>下载合并版本</h3>
        </div>
        <form name="downloadForm" class="modal-body form">
            <ul class="plist">
                <li>
                    <span class="pname" style="width: 70px">类型</span>
                    <!--选择类型-->
                    <div class="pname upload-dlg-types" style="width: 300px !important;">
                        <input id="type_ip" ng-model="dataType" value="ip" type="radio" class="magic-radio"
                               ng-checked="true">
                        <label for="type_ip"
                               ng-class="{'d-inline':true,'color-lightslategray':dataType!='ip','color-blue-raido':dataType=='ip'}">ip</label>

                        <input id="type_device" ng-model="dataType" value="device" type="radio" class="magic-radio">
                        <label for="type_device"
                               ng-class="{'d-inline':true,'color-lightslategray':dataType!='device','color-blue-raido':dataType=='device'}">设备</label>

                        <input id="type_default" ng-model="dataType" value="default" type="radio" class="magic-radio">
                        <label for="type_default"
                               ng-class="{'d-inline':true,'color-lightslategray':dataType!='default','color-blue-raido':dataType=='default'}">默认设备</label>
                        <input id="type_realip" ng-model="dataType" value="realip" type="radio" class="magic-radio">
                        <label for="type_realip"
                               ng-class="{'d-inline':true,
                               'color-lightslategray':dataType!='realip',
                               'color-blue-raido':dataType=='realip'}">IP(脱水)</label>
                    </div>
                </li>
            </ul>
        </form>
        <div class="modal-footer">
            <button ng-click="closeThisDialog()" type="button" class="btn-cancel">取消</button>
            <a ng-show="dataType!='realip'" ng-click="closeThisDialog()"
               href="/blacklist/downloadMergedlist?type={{dataType}}" target="_blank"
               class="link-default btn-up-down-load" style="color: white">下载</a>

            <a ng-show="dataType=='realip'" ng-click="closeThisDialog()" href="/blacklist/downloadRealIPs"
               target="_blank"
               class="link-default btn-up-down-load" style="color: white">下载</a>
        </div>
    </div>
</div>
