<script src="../../js/controllers/login-controller.js"></script>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3>上传</h3>
        </div>
        <form name="uploadForm" class="modal-body form">
            <ul class="plist">
                <li>
                    <span class="pname grp-label">类型</span>
                    <!--选择类型-->
                    <div class="upload-dlg-types">
                        <input id="type_ip" ng-model="selectType" value="ip" type="radio" class="magic-radio"
                               ng-checked="true"
                                ng-show="!locked">
                        <label for="type_ip"
                               ng-class="{'d-inline':true,'color-lightslategray':selectType!='ip','color-blue':selectType=='ip'}"
                               ng-show="!locked">IP</label>

                        <input id="type_ua" ng-model="selectType" value="ua" type="radio" class="magic-radio"
                               ng-show="!locked">
                        <label for="type_ua"
                               ng-class="{'d-inline':true,'color-lightslategray':selectType!='ua','color-blue':selectType=='ua'}"
                               ng-show="!locked">UA</label>

                        <input id="type_domain" ng-model="selectType" value="domain" type="radio" class="magic-radio"
                               ng-show="!locked">
                        <label for="type_domain"
                               ng-class="{'d-inline':true,'color-lightslategray':selectType!='domain','color-blue':selectType=='domain'}"
                               ng-show="!locked">域名</label>

                        <input id="type_device" ng-model="selectType" value="device" type="radio" class="magic-radio"
                               ng-show="!locked">
                        <label for="type_device"
                               ng-class="{'d-inline':true,'color-lightslategray':selectType!='device','color-blue':selectType=='device'}"
                               ng-show="!locked">设备ID</label>

                        <div>
                            <input id="type_default" ng-model="selectType" value="default" type="radio" class="magic-radio"
                                   ng-show="!locked">
                            <label for="type_default"
                                   ng-class="{'d-inline':true,'color-lightslategray':selectType!='default','color-blue':selectType=='default'}"
                                   ng-show="!locked">默认设备ID</label>

                            <input id="type_publisherIp" ng-model="selectType" value="publisherIp" type="radio" class="magic-radio">
                            <label for="type_publisherIp"
                                   ng-class="{'d-inline':true,'color-lightslategray':selectType!='publisherIp','color-blue':selectType=='publisherIp'}">媒体服务器IP</label>
                        </div>

                        <div style="height: 10px"></div>
                    </div>
                </li>
                <li>
                    <span class="pname grp-label" style="width: 45px !important;">文件</span>
                    <span class="pcon">
                    <div id="file" name="file" ng-model="uploadFile" type="file"
                         ngf-select
                         required>
                        <a ng-show="prog==0" class="link-default" ng-if="uploadFile">{{uploadFile.name}}</a>
                        <a ng-show="prog==0" class="link-default" ng-if="!uploadFile"><i
                                class="icon-upload"></i> 请选择</a>
                        <div ng-show="prog!=0" class="prog-ctn">
                            <a class="prog-bg">
                                <a class="prog-front" ng-style="{width:prog+'px'}"></a>
                            </a>
                        </div>
                    </div>
                    </span>
                </li>
            </ul>
        </form>
        <div class="modal-footer ">
            <button ng-click="closeThisDialog()" type="button" class="btn-cancel">取消</button>
            <button ng-click="postBlacklist()" type="button" class="link-default btn-up-down-load">上传</button>
        </div>
    </div>
</div>
